/* --- CONTENEDOR PRINCIPAL --- */
.page {
  display: flex;
  height: 100vh;
  background: white;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

/* --- SIDEBAR --- */
.sidebar {
  width: 250px;
  background-color: #b89571; /* marrón suave */
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  box-shadow: 2px 0 10px rgba(0,0,0,0.15);
}

.sidebarTitle {
  color: #4a382b;
  font-size: 24px;
  text-align: center;
  font-weight: 700;
}

.sidebarBtn {
  background-color: #d6c2ac;
  padding: 12px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #4a382b;
  font-weight: 600;
  transition: 0.2s ease;
}

.sidebarBtn:hover {
  background-color: #c4ae96;
  transform: translateY(-2px);
}

/* --- CONTENEDOR CENTRAL --- */
.centerBox {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* --- CARD DEL LOGIN --- */
.card {
  width: 420px;
  padding: 40px 50px;
  background: white;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 30px rgba(0,0,0,0.15);
}

.title {
  text-align: center;
  margin-bottom: 25px;
  color: #6d4c41;
  font-size: 28px;
  font-weight: 700;
}

/* Inputs */
.input {
  width: 100%;
  padding: 16px 1px;
  margin-bottom: 16px;
  border-radius: 14px;

  background-color: #f4ece4; /* beige suave */
  border: 1px solid #dbcbbd;
  transition: 0.2s ease;
}

.input:focus {
  outline: none;
  border-color: #b89571;
  background-color: #faf5f1;
  box-shadow: 0 0 6px rgba(184, 149, 113, 0.4);
}

/* Botón */
.button {
  width: 100%;
  padding: 15px 5px;
  border-radius: 12px;
  border: none;
  background-color: #b89571;
  color: white;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s ease;
}

.button:hover {
  background-color: #a17e5f;
  transform: translateY(-2px);
}

/* --- FOOTER --- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 15px 0;
  text-align: center;
  color: #6a5041;
  font-weight: 600;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
}

